.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  border: 1px solid black;
  background: rgb(160, 160, 197);
  overflow: auto;
  padding: 5px;
}

.nav-items {
  /*  */
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

h1 {
  color: rgb(32, 32, 112);
}
.nav-items ul li {
  display: inline-block;
  margin: 0 5px 0 5px;
}
.nav-items ul li a {
  color: #ffffff;
}
.nav-items ul li a:hover {
  color: blue;
}
.coffeeImage {
  width: 60%;
  text-align: center;
}
.coffee-div {
  display: flex;
  justify-content: center;
}
.text-box p {
  float: left;
  background-color: lightgrey;
  width: 300px;
  border: 10px solid rgba(13, 12, 40, 0);
  padding: 50px;
  margin: 20px;
  height: 88vh;
}

img{
  width: 20%;
  height: auto;
  margin: 5px 40%; 
}
