.flexbox-container {
  justify-content: space-around;
  display: flex;
}
.di .flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: blue;
}
.flexbox-item-1 {
  min-height: 100px;
}
.flexbox-item-2 {
  min-height: 100px;
}
.flexbox-item-3 {
  min-height: 100px;
}

/* .about {
  height: 1000px;
} */

img {
  width: 260px;
  border-radius: 140px;
  float: left;
  margin-right: 10px;
}
h4 {
  float: center;
  font-weight: 100px;
}
h2 {
  float: left;
}
.skills-list {
  float: left;
  font-weight: bold;
}
.skills {
  text-align: center;
}
body {
  /* background-size: 150px; */
  background-color: lightblue;
}
div {
  background-color: orange;
}

div.first {
  opacity: 0.1;
}

div.second {
  opacity: 0.3;
}

div.third {
  opacity: 0.6;
}
h1 {
  margin-right: 200px;
}
.github {
  font-weight: bold;
}
.email {
  font-weight: bold;
}
.linkedIn {
  font-weight: bold;
}
